main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 1fr;
    max-width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
}
.card-front {
    background-color: lightgray;
    grid-column: 1/3;
    grid-row: 1/3;
    border: 1px solid grey;
    border-radius: 15px;
    z-index: 5;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
p{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
input {
    height: 20px;
    padding-right: 5px;
}
.total {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
}
.card-image{
    grid-column: 2/3;
    grid-row: 1/2;
justify-self: center;
}
.number {
    grid-column: 1/3;
    grid-row: 2/3;
}
.holder {
 grid-column: 1/2;
 grid-row: 3/4;
}
.exp {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
}
.exp-selects {
    height: 26px;
    display: flex;
    gap: 10px;
}


.card-back {
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
    background-color: lightgray;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 20px;
}
.barcode {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: black;
    margin-bottom: 35px;
    margin-top: 16px;
}
.cvc {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 10px;
}
.cvc label {
    margin-left: 29px;
    margin-right: 20px;
}
.cvc input{
    width: 50px;
    height: 20px;
    margin: auto;
}
button{
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 10px;
    width: 80px;
    height: 35px;
    border-radius: 5px;
}