

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-dark);
    background: white;
}

img {
    max-width: 100%;
    display: block;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
}

.page-title img {
    width: 5em;
}

.page-title h1 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 3.5em;

}

.search-bar {
    display: flex;
    width: 80%;
    
    border: 1.5px solid #888;
    border-radius: 8px;
    overflow: hidden;
    background: white;
    color: var(--text-light);
}

.search-bar input {
    flex: 1;
    padding: 1em;
    border: none;
    outline: none;
    font-size: 1em;
}

.search-bar button {
    width: 4em;
    height: 4em;
    border: 1px solid black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-bar button img {
    width: 3em;
    height: 3em;
}

/* main */ 
.recipe-card {
    border: 1.5px solid #bbb;
    border-radius: 12px;
    padding: 1em;
    margin: 2em 0;
    text-align: center;
}

.recipe-img {
    border-radius: 8px;
    margin-bottom: 0.5em;
}

.recipe-info button {
    border: 1.5px solid #000;
    padding: 0.5em 1em;
    font-family: var(--secondary-font);
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 10px;
}
.recipe-name {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 3em;
}
.recipe-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.description {
    display: none;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 10px;
    color: var(--primary-color);
}
/* footer */

footer {
    margin-top: 3em;
    text-align: center;
    font-size: 1em;
}
footer a{
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1.1em;
    margin: 1em 0;
}

.social img {
    width: 2.5em;
}


@media screen and (min-width: 600px) {

main{
    padding: 1em;
}
.recipe-card {
    display: flex;
}
.description {
    display:contents;
}
.recipe-info{
    display: flex;
    flex-direction: column;
    margin: 80px;
    align-items: flex-start;
    text-align: left;
}
footer{
    display: flex;
    justify-content:space-between;
}
}
