 :root {
 --gold-color: #efc69b;
 --red-color: #af1b3f;
 --dark-color: #473144;
 --text-dark: #;
 --body-font: Helvetica, Arial, sans-serif;
 --headline-font: Lora, Impact, Serif;
 }

 h1{
    justify-self: center;
    font-size: 2em;
 }
 .main-nav{
    color: var(--red-color);
    border-bottom: 3px solid var(--gold-color);
    border-top: 3px solid var(--gold-color);
    justify-content: right;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px;
 }
 a{
    text-decoration: none;
    color: var(--red-color);
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 20px;
 }
ul{
   list-style: none;
}
 main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
 }
 h2{
    color: var(--red-color);
 }

 .dates{
    grid-column: 1-2;
    border-right: 3px solid var(--gold-color);
    margin: 10px;
    display: grid;
    grid-template-rows: auto;
    justify-content: right;
 }
 .books{
    grid-column: 2-3;
    display: grid;
    grid-template-rows: auto;
 }
 .books img{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
 }
 .filter_form{
    grid-column: 3-4;
    grid-row: 1-3;
    border: 3px solid var(--gold-color);
    margin: 10px;
 }
 .one {
    grid-row: 1-2;
 }
 .two {
    grid-row: 2-3;
 }