:root {
    --primary-color: #1e90ff;
    --secondary-color: #87cefa;
    --accent1-color: #f0f8ff;
    --accent2-color: #4682b4;
    --white-text: white;
    --dark-text: black;
}

/* Resets defaults styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    height: 100vh;
    width: 200px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding-top: 30px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

header.collapesed {
    width: 60px;
}

/* logo */
.image-container img {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 50%;
}

header.collapsed .image-container img {
    width: 40px;
    opacity: 0.5;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    padding: 15px 20px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
    color: var(--accent1-color);
}

/* menu button with help of w3schools */
.container {
    cursor: pointer;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Main content */
.title {
    font-size: 2rem;
    color: var(--accent1-color);
    text-align: center;
    margin-top: 40px;
    letter-spacing: 2px;
}

main {
    margin-left: 200px;
    padding: 40px;
    background-color: var(--accent2-color);
    min-height: 100vh;
    color: var(--dark-text);
    font-family: Arial, sans-serif;
}

/* Product and pricing page */
.product {
    width: 800px;
    border: var(--primary-color) 1px solid;
    border-radius: 10px;
    background-color: var(--primary-color);
    margin: 0 auto;
}
.price-box {
    width: 1000px;
    display: flex;
    border: var(--primary-color) solid 8px;
    border-radius: 5%;
    margin: 80px auto;
    flex-flow: column wrap;
}
.price-box img {
    max-width: 80%;
    margin: 10px auto;
    margin-top: 40px;
    border: var(--secondary-color) solid 3px;
    border-radius: 5%;
}
.price-box p, .price-box h2 {
    color: var(--accent1-color);
    text-align: center;
    margin: 10px;
    padding: 0 90px;
}
/* Map page */
.map-title h1 {
    color: var(--accent1-color);
    z-index: 10;
    border: var(--secondary-color) 3px solid;
    margin-bottom: 10px;
    background-color: var(--primary-color);
}

/* Footer content */
footer {
    background-color: var(--primary-color);
    color: var(--white-text);
    text-align: center;
    margin-left: 200px;
    padding: 20px;
}

footer p {
    padding: 5px;
    line-height: 1.6;
}

footer a {
    color: var(--accent1-color);
    text-decoration: none;
    padding: 5px;
}

footer a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

