/* form-demo.css */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
h1{
  font-size: 2em;
  margin-bottom: 1em;
}

main {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
form p{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
label {
  margin-bottom: 0.3em;
}
input, select{
  border: 1px solid black;
  font-size: 1em;
  width: 100%;
  min-height: 40px;
  resize: vertical;
}
.address input {
  min-height: 120px;
}
button {
  background-color: green;
  color:white ;
  font-size: 1em;
  padding: 1em 1.5em;
}
.errors > p {
  border: 1px solid red;
  padding: 0.5em;
}
/* Style the select arrow for Safari */
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style the select arrow for other browsers */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.hide {
  display: none; /* Initially hide the credit card input and label */
}