        main{
            max-width: 900px;
            margin: 0 auto;
            padding: .9em;
            margin-left: 250px;
            margin-right: 250px;
        }
        h1{
            font-size: 4em;
            justify-self: center;
        }
        p{
            font-size: 2.1em;
            color: darkblue;
            justify-self: center;
            margin-top: 0;
        }
        h2{
            font-size: 2em;
            font-weight: normal;
        }
        .italic{
            font-size: 2em;
            font-style: italic ;
        }
        li{
            font-size: 2em;
            margin-top: 40px;
        }
        .img_box{
            display: flex;
            justify-content: center;
        }
        img{

            width: 200px;
        }